<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/compras.css">  
    <title>Carrito de Compras</title>
</head>
<body>
<div class="head">
    <div class="Logo">
        <a href="a">LIMA EXPRESS</a>
    </div>
    <nav class="navbar">
        <ul class="menu-horizontal">

            <li><a href="Nav.html">home</a></li>
            <li><a href="Tipos_mochilas.html">catálogos</a></li>  
            
            <li><a href="ofertas.html">Ofertas</a></li>
            
            <li><a href="atencion.html">Contacto</a></li>
            <li><a href="login.html">Login</a></li> 
        </ul>
    </nav>
</div>
<div class="contenedor-carrito">    
    <h2>Carrito de Compras</h2>
    <ul id="lista-carrito"></ul>
    <p>Total: <span id="total">S/0.00</span></p>
</div>
<script src="js/carrito.js"></script>             
</body>
</html>