<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>atención</title> 
    <link rel="stylesheet" href="../static/css/Nav.css">
    <link rel="stylesheet" type="text/css" href="../static/css/icons.css">  
    <link rel="stylesheet" href="../static/fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/all.css">
    <link rel="stylesheet" href="../static/css/atencion.css">
    
</head>
<body>
     <!--Comienza la sección de encabezado-->
     <header>
      <input type="checkbox" name="" id="toggler">
      <label for="toggler" class="icon icon-menu"></label>

      <a href="/templates/Nav.html" class="logo">Express <span>.</span>   
      </a>
      <nav class="navbar">
          <ul class="menu-horizontal">

              <li><a href="Nav.html">home</a></li>
              <li><a href="Tipos_mochilas.html">catálogos</a></li>  
              
              <li><a href="ofertas.html">Ofertas</a></li>
              
              <li><a href="atencion.html">Contacto</a></li>
          </ul>   
      </nav>

      <div class="icons">
          <a href="login.html"class="fa-solid fa-user"></a>
          <a href="compras.html"class="fa-solid fa-cart-shopping"></a>
      </div>  
  </header>

  <br><br><br><br><br><br><br><br><br><br>

  <div class="contenido">
    <div class="formulario">
      <h2>Contáctanos</h2>
      <form>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>
  
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required><br>
  
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" required><br>
  
        <label for="comentario">Comentario:</label>
        <textarea id="comentario" name="comentario" rows="4" cols="30"></textarea><br>
  
        <input type="submit" value="Enviar">
      </form>
    </div>
  
    <div class="servicio-cliente">
        <h2>Servicio al Cliente</h2>
        <p>Para mochilas, es un gusto contar con usted en nuestro selecto grupo de clientes. Tenga la certeza de que su opinión y requerimiento son importantes para nosotros.</p>
        
        <div class="titulo-duda">¿Tienes alguna duda?</div>
        <p>Estamos aquí para ayudarte.</p>

        <div class="logos">
            <a href="#"><img src="../static/imagenes gen/img1/pngegg (1).png" alt="Logo 1" height="50px"></a>   
            <a href="#"><img src="../static/imagenes gen/img1/pngegg (2).png" alt="Logo 2" height="50px"></a>
            <a href="#"><img src="../static/imagenes gen/img1/pngegg.png" alt="Logo 3" height="50px"></a> 
          </div>
        </div>
      </div>
      
</body>
</html>