<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/Nav.css">  
    <link rel="stylesheet" type="text/css" href="../static/css/icons.css"> 
    <link rel="stylesheet" href="../static/fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/all.css">
</head>
<body>  
     <!--Comienza la sección de encabezado-->
     <header>
      <input type="checkbox" name="" id="toggler">
      <label for="toggler" class="icon icon-menu"></label>

      <a href="/templates/Nav.html" class="logo">Express <span>.</span>   
      </a>
      <nav class="navbar">
          <ul class="menu-horizontal">

              <li><a href="Nav.html">home</a></li>
              <li><a href="Tipos_mochilas.html">catálogos</a></li>  
              
              <li><a href="ofertas.html">Ofertas</a></li>
              
              <li><a href="atencion.html">Contacto</a></li>
          </ul>   
      </nav>

      <div class="icons">
          <a href="login.html"class="fa-solid fa-user"></a>
          <a href="compras.html"class="fa-solid fa-cart-shopping"></a>
      </div>  
  </header>
<br><br><br><br><br><br><br><br>
  <article class="content">
    <a class="slideButton prevSlide"><i class="fa fa-left-long"></i></a>
    <a class="slideButton nextSlide"><i class="fa fa-right-long"></i></a>
    <h1 class="content__claim" style="color: rgb(0, 0, 0);">Ofertas</h1>
    <h2 class="content__subclaim" style="color: rgb(255, 255, 255);">Tiempo Limitado </h2>
    <a class="book-appointment" href="ofertas.html" style="color: aliceblue;">A solo un click</a>
  </article>

 
  <div class="footer-wrapper">
    <footer class="footer">
      <section class="footer__widget">
        <h3 class="footer__widget__title"><a style="color: aliceblue;" href="https://www.google.com/search?client=opera-gx&hs=bJ2&tbs=lf:1,lf_ui:10&tbm=lcl&q=tienda+de+mochilas+lima+peru&rflfq=1&num=10&rllag=-12045738,-77037590,1564&rldimm=18402058740677682110&ved=2ahUKEwizibyJ98j_AhUqGbkGHfhNApUQu9QIegQIGhAK#rlfi=hd:;si:18402058740677682110;mv:[[-11.97552241337523,-76.97240418247071],[-12.112346821235484,-77.1313626175293]]">Ubicacion</a></h3>
        <p class="footer__widget__text">Av. Argentina 778, Lima 07006

        </p>
      </section>
      <section class="footer__widget">
        <h3 class="footer__widget__title" style="color: aliceblue;">Telefono</h3>
        <p class="footer__widget__text">+51 999 097 572</p>
      </section>
      <section class="footer__widget">
        <h3 class="footer__widget__title" style="color: aliceblue;">Email</h3>
        <p class="footer__widget__text">Express@gmail.com</p>
      </section>
    </footer>
  </div>
</main>
<script src="main.js" defer></script>

   
    
</body>
</html>