<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/Nav.css">
    <link rel="stylesheet" type="text/css" href="../static/icons.css">
    <link rel="stylesheet" href="../static/fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/all.css">
    <link rel="stylesheet" href="../static/css/promociones.css">

</head>
<body>
     <!--Comienza la sección de encabezado-->
     <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="icon icon-menu"></label>

        <a href="Nav.html" class="logo">Express <span>.</span>   
        </a>    
        <nav class="navbar">
            <ul class="menu-horizontal">

                <li><a href="Nav.html">home</a></li>
                <li><a href="Tipos_mochilas.html">catálogos</a></li>  
                
                <li><a href="ofertas.html">Ofertas</a></li>
                
                <li><a href="atencion.html">Contacto</a></li>
            </ul>   
        </nav>

        <div class="icons">
            <a href="login.html"class="fa-solid fa-user"></a>
            <a href="compras.html"class="fa-solid fa-cart-shopping"></a>
        </div>  
    </header>
    <main>
        <section class="ofert container">
            <div class="ofert-1">
                <div class="ofert-img">
                    <img src="../static/imagenes gen/ofertas/mochila4.jpg" alt="">
                </div>   
                <div class="ofert-txt">
                    <h3>Mochila Juvenil Promociones!</h3>
                    <a href="#" class="btn-2">informacion</a>
                </div>
            </div>
            <div class="ofert-1">
                <div class="ofert-img">
                    <img src="../static/imagenes gen/ofertas/maletas4.jpg" alt="">
                </div>   
                <div class="ofert-txt">
                    <h3>Maleta de Viaje Promociones!</h3>
                    <a href="#" class="btn-2">informacion</a>
                </div>
            </div>
            <div class="ofert-1">
                <div class="ofert-img">
                    <img src="../static/imagenes gen/ofertas/portafolio2.jpg" alt="">
                </div>   
                <div class="ofert-txt">
                    <h3>Portafilio Promociones!</h3>
                    <a href="#" class="btn-2">informacion</a>
                </div>
            </div>
        </section>
    
        <main class="products container" id="lista-1">
    
            <h2>!!productos con descuento!!</h2>
    
            <div class="product-content">
    
                <div class="product">
                    <img src="../static/imagenes gen/ofertas/mochila1.jpg" alt="">
                    <div class="product-txt">
                        <h3>Mochila Juvenil</h3>
                        <p>calidad Lona</p>
                        <p class="precio">$99.90</p>
                        <p class="promocion"><span>40%OFF</span></p>  
                        <a href="#" class="agregar-carrito btn-2" data-id="1">agregar al carrito</a>
                    </div>
                </div>
    
                <div class="product">
                    <img src="../static/imagenes gen/ofertas/mochila2.jpg" alt="">
                    <div class="product-txt">
                        <h3>Mochila Escolar</h3>
                        <p>calidad Dril</p>
                        <p class="precio">$89.90</p>
                        <p class="promocion"><span>40%OFF</span></p>  
                        <a href="#" class="agregar-carrito btn-2" data-id="1">agregar al carrito</a>
                    </div>    
                </div>
    
                <div class="product"> 
                    <img src="../static/imagenes gen/ofertas/mochila3.jpg" alt="">
                    <div class="product-txt">
                        <h3>Mochila Anti-Robo</h3>
                        <p>calidad Lona</p>
                        <p class="precio">$100.90</p>
                        <p class="promocion"><span>75%OFF</span></p>  
                        <a href="#" class="agregar-carrito btn-2" data-id="1">agregar al carrito</a>
                    </div>
                </div>
    
                <div class="product">
                    <img src="../static/imagenes gen/ofertas/mochila1.jpg" alt="">
                    <div class="product-txt">
                        <h3>Maleta de Viaje</h3>
                        <p>calidad Aclinico</p>
                        <p class="precio">$250.90</p>
                        <p class="promocion"><span>85%OFF</span></p>  
                        <a href="#" class="agregar-carrito btn-2" data-id="1">agregar al carrito</a>
                    </div>
                </div>
    
                <div class="product">
                    <img src="../static/imagenes gen/ofertas/portafolio1.jpg" alt="">
                    <div class="product-txt">
                        <h3>Maletin de mano</h3>
                        <p>Calidad Cuero</p>
                        <p class="precio">$99.90</p>
                        <p class="promocion"><span>50%OFF</span></p>  
                        <a href="#" class="agregar-carrito btn-2" data-id="1">agregar al carrito</a>
                    </div>
                </div>
    
                <div class="product">
                    <img src="../static/imagenes gen/ofertas/maleta2.jpeg" alt="">
                    <div class="product-txt">
                        <h3>Maleta de Viaje</h3>
                        <p>Calidad Aclinico</p>
                        <p class="precio">$210</p>
                        <p class="promocion"><span>75%OFF</span></p>  
                        <a href="#" class="agregar-carrito btn-2" data-id="1">agregar al carrito</a>
                    </div>
                </div> 
                <div class="product">
                    <img src="../static/imagenes gen/ofertas/mochila6.jpg" alt="">
                    <div class="product-txt">
                        <h3>Mochila Escolar</h3>
                        <p>Calidad Lona</p>
                        <p class="precio">$90.99</p>
                        <p class="promocion"><span>89%OFF</span></p>  
                        <a href="#" class="agregar-carrito btn-2" data-id="1">agregar al carrito</a>
                    </div>
                </div> 
                <div class="product">
                    <img src="../static/imagenes gen/ofertas/Maleta3.jpeg" alt="">
                    <div class="product-txt">
                        <h3>Maleta de Viaje</h3>
                        <p>Calidad Aclinico</p>
                        <p class="precio">$143.99</p>
                        <p class="promocion"><span>60%OFF</span></p>  
                        <a href="#" class="agregar-carrito btn-2" data-id="1">agregar al carrito</a>
                    </div>
                </div> 
                <div class="product">
                    <img src="../static/imagenes gen/ofertas/portafolio3.avif" alt="">
                    <div class="product-txt">
                        <h3>Maletin de Mano</h3>
                        <p>Calidad Cuero</p>
                        <p class="precio">$100.99</p>
                        <p  class="promocion"><span>69%OFF</span></p>  
                        <a href="#" class="agregar-carrito btn-2" data-id="1">agregar al carrito</a>
                    </div>
                </div> 
            </div>
        </main> 



        


    </main>
</body>
</html>