<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/Tipos_mochilas.css">
    <link rel="stylesheet" type="text/css" href="icons.css">
    <link rel="stylesheet" href="../static/fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/all.css">
</head>
<body>
     <!--Comienza la sección de encabezado-->
     <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="icon icon-menu"></label>

        <a href="/templates/Nav.html" class="logo">Express <span>.</span>   
        </a>
        <nav class="navbar">
            <ul class="menu-horizontal">

                <li><a href="Nav.html">home</a></li>
                <li><a href="Tipos_mochilas.html">catálogos</a></li>  
                
                <li><a href="ofertas.html">Ofertas</a></li>
                
                <li><a href="atencion.html">Contacto</a></li>
            </ul>   
        </nav>

        <div class="icons">
            <a href="login.html"class="fa-solid fa-user"></a>
            <a href="compras.html"class="fa-solid fa-cart-shopping"></a>
        </div>  
    </header>       

    <!--Finaliza la sección de encabezado-->
<br><br><br><br><br><br><br>


    <div class="title-cards">
		<h2>Explora Nuestra Colección</h2>
	</div>  
<div class="container-card">
        
<div class="card">
	<figure>	    
        <img src="../static/imagenes gen/img/m-1.jpeg">
	</figure>
	<div class="contenido-card">
		<h3>Montañeras</h3>
		<p>Explora nuestras mochilas montañeras: resistencia, comodidad y capacidad en un diseño excepcional. Correas de compresión, hidratación y compartimentos inteligentes. </p>
		<a href="catalogo.html">Mira Más Aquí</a>
	</div>
</div>
<div class="card">
	<figure>
		<img src="../static/imagenes gen/img/m-2.jpeg">
	</figure>
	<div class="contenido-card">
		<h3>Mochilas escolares</h3>
		<p>Descubre nuestras mochilas escolares: estilo, organización y comodidad en un diseño excepcional. Amplios compartimentos, correas ajustables y durabilidad para acompañarte en tus estudios. </p>
		<a href="escolares.html">Mira Más Aquí</a>
	</div>
</div>
<div class="card">
	<figure>
		<img src="../static/imagenes gen/img/m-3.jpeg">
	</figure>
	<div class="contenido-card">
		<h3>Mochilas deportivas</h3>
		<p>Desata tu potencial con nuestras mochilas deportivas: estilo, funcionalidad y comodidad en un diseño excepcional. Lleva tus equipos con facilidad y destaca en cada entrenamiento. </p>
		<a href="deportivas.html">Mira Más Aquí</a>
	</div>
</div>
</div>









</body>
</html>